<%- include('partials/header') %>

<!-- Page Header Start -->
<div class="container-fluid bg-primary py-5 mb-5">
  <div class="container py-5">
    <div class="row align-items-center py-4">
      <div class="col-md-6 text-center text-md-left">
        <h1 class="display-4 mb-4 mb-md-0 text-secondary text-uppercase">About</h1>
      </div>
      <div class="col-md-6 text-center text-md-right">
        <div class="d-inline-flex align-items-center">
          <a class="btn btn-sm btn-outline-light" href="">Home</a>
          <i class="fas fa-angle-double-right text-light mx-2"></i>
          <a class="btn btn-sm btn-outline-light disabled" href="">About</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- About Start -->
<div class="container-fluid py-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="d-flex flex-column align-items-center justify-content-center bg-about rounded h-100 py-5 px-3">
          <i class="fa fa-5x fa-award text-primary mb-4"></i>
          <h1 class="display-2 text-white mb-2" data-toggle="counter-up">7</h1>
          <h2 class="text-white m-0">Years Experience</h2>
        </div>
      </div>
      <div class="col-lg-7 pt-5 pb-lg-5">
        <h6 class="text-secondary font-weight-semi-bold text-uppercase mb-3">Learn About Us</h6>
        <h1 class="mb-4 section-title">WE PROVIDE THE BEST HOME SERVICES,</h1>
        <h5 class="text-muted font-weight-normal mb-3">Welcome to DWELLHUB-WEB HOME SERVICES,</h5>
        <p>
          we turn houses into homes and dreams into reality. We understand the significance of your living space and the role it plays in your daily
          life. That's why we are dedicated to providing top-notch home services that go beyond fixing problems – we aim to enhance the overall
          quality of your home.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Features Start -->
<div class="container-fluid bg-light py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-7 pt-lg-5 pb-3">
        <h6 class="text-secondary font-weight-semi-bold text-uppercase mb-3">Why Choose Us</h6>
        <h1 class="mb-4 section-title">7 Years Experience In Cleaning Industry</h1>
        <p class="mb-4">
          Our team consists of skilled professionals with 7 years of experience in their respective fields. Whether it's plumbing, electrical work,
          remodeling, or maintenance, we have the expertise to handle it all.Your satisfaction is our priority. We listen to your needs, provide
          transparent communication, and work collaboratively to ensure the best results for your home.
        </p>
        <div class="row">
          <div class="col-sm-4">
            <h1 class="text-secondary mb-2" data-toggle="counter-up">10</h1>
            <h6 class="font-weight-semi-bold mb-sm-4">Our service providers</h6>
          </div>
          <div class="col-sm-4">
            <h1 class="text-secondary mb-2" data-toggle="counter-up">100</h1>
            <h6 class="font-weight-semi-bold mb-sm-4">Happy Clients</h6>
          </div>
          <div class="col-sm-4">
            <h1 class="text-secondary mb-2" data-toggle="counter-up">200</h1>
            <h6 class="font-weight-semi-bold mb-sm-4">Services Done</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-5" style="min-height: 400px">
        <div class="position-relative h-100 rounded overflow-hidden">
          <img class="position-absolute w-100 h-100" src="img/feature.jpg" style="object-fit: cover" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Features End -->

<%- include('partials/footer') %>
